/*Use what you know about HTML and CSS to make the page look better!
Upon reset, display who won the game. */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
box-sizing: border-box;
font-family: 'Playfair Display', serif;
}

body{
background-image: linear-gradient( to bottom, rgba(85,37,131,0.5), rgba(253,185,39,0.5)), url("../images/indoor-basketball-court.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #FDB927;
color: white;
}

#Container {
display: flex;
flex-direction: column;
}


#reset-container {
flex-basis: 250px;   
}

#second {
    display: flex;
    justify-content: space-between; 
}

.left {
    border: 1px solid #552583;
    background-color: #FDB927;
    color: black;
    border-radius: 20%;
    padding: 10px;
}

.right {
    border: 1px solid #552583;
    background-color: black;
    border-radius: 20%;
    padding: 10px;
}

#reset-container, h1 {
    text-align: center;
}
