/*Use what you know about HTML and CSS to make the page look better!
Upon reset, display who won the game. */
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');

*{
box-sizing: border-box;
font-family: 'Playfair Display', serif;
}

body{
background-image: url("../images/indoor-basketball-court.png");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: #FDB927;
color: white;
}

#Container {
display: flex;
flex-direction: column;

}

#resetContainer{
border: 1px solid #552583;
background-color: #552583;   
}


/*.hide {
    display: none;
}*/

.left {
    border: 1px solid #552583;
    background-color: red;
}

.right {
    border: 1px solid #552583;
    background-color: green;
}

/*.clear {
    border: 1px solid #552583;
    background-color: #552583;
}*/

#reset-container, h1 {
    text-align: center;
}
